
  .example-card {
    max-width: 400px;
    background-color: #07182E !important;
    /* color: white; */
  }

  .example-card-footer {
    padding: 16px;
    /* color: white; */
  }


  mat-chip {
    color: black !important; /* Forzar el color negro */
  }
