  <div style="height: 100vh; display: flex;justify-content: center; align-items: center;">

    <mat-card class="example-card" style="background: #0e111a" appearance="outlined">
      <mat-card-header>
        <mat-card-title style="color: white;">Cual es tu linea de juego?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-footer class="example-card-footer">
        <div style="display: flex;justify-content: center; align-items: center; margin: 20px auto; gap: 5px;">
          <img (click)="onImageClicked('top')" style="width: 50px;border-radius: 10px" src="https://ih1.redbubble.net/image.2355939166.7499/raf,360x360,075,t,fafafa:ca443f4786.jpg">
          <img (click)="onImageClicked('mid')" style="width: 48px;border-radius: 10px" src="https://i.pinimg.com/236x/02/bd/89/02bd89623d4163bc2115906a1a85f39d.jpg">
          <img (click)="onImageClicked('jg')" style="width: 50px;border-radius: 10px" src="https://pbs.twimg.com/media/Fk_HhAUWAAE9pFz.png">
          <img (click)="onImageClicked('sup')" style="width: 50px;border-radius: 10px" src="https://ih1.redbubble.net/image.2354270596.5334/raf,360x360,075,t,fafafa:ca443f4786.jpg">
          <img (click)="onImageClicked('adc')" style="width: 50px;border-radius: 10px" src="https://ih1.redbubble.net/image.2354173898.2385/raf,360x360,075,t,fafafa:ca443f4786.jpg">
      </div>
      </mat-card-footer>
      <img src="https://giffiles.alphacoders.com/528/52885.gif" alt="">
    </mat-card>
    </div>
