
.example-card {
  max-width: 400px;
  background-color: #07182E !important;
  justify-content: center;
  align-items: center;
  /* color: white; */
}

.example-card-footer {
  padding: 16px;
  /* color: white; */
}

.full-width-select {
  width: 100%;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
